 h1, h2, p {
        text-align: center;
}

body {
    background-image: url(./photos/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
}

.menu {
    
    background-color: burlywood;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
    max-width: 500px;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom:5px;
    font-size: 18px;
    
  }
  /* If you make the width of the page preview
   smaller, you will notice at some point,
    some of the text on the left starts
     wrapping around to the next line. 
     This is because the width of the p
      elements on the left side can only
       take up 50% of the space. */
       /* Since you know the prices on the right
        have significantly fewer characters,
         change the flavor class width value to be 75% and the price
         class width value to be 25%. */
.flavor, .dessert {
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
}

h1,h2 {
  font-family: Impact, serif
}

.established {
    font-style: italic;
    padding-right: 80px;
  }

hr {
    border-color: brown;
    background-color: brown;
    height: 2px;
  }

.bottom-line{
    margin-top: 25px;
}  

footer {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    font-style:oblique;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
img{
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 30px;
}
h1 {
    padding-right: 80px;
    margin-top: 0px;
}
a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: brown;
  }
  
  a:active {
    color: brown;
  }  
